body {
  background-color: #f0f0f0;
}

h1{
 margin-left: 40vw;
}

#canvas {
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-left: 5vw;
}